# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
#DATABASE_URL=mysql://root@127.0.0.1/your_db_name?serverVersion=8.0
DATABASE_URL=:database_connection_string_%kernel.environment%
