<html>
    <head>
        <script src="{{ asset('bundles/:plugin_class_lowercase/greeting.js') }}"></script>
    </head>
    <body>
        <div id="greeting" data-greeting="{{ greeting }}">Loading...</div>
    </body>
</html>
